@nbx:registry=https://europe-west4-npm.pkg.dev/production-226019/npm/
//europe-west4-npm.pkg.dev/production-226019/npm/:email=not.valid@email.com
//europe-west4-npm.pkg.dev/production-226019/npm/:always-auth=true
